.confirmations-container {
  height: 100%;
  padding: var(--padding-large);
  overflow: hidden;
}

.confirmations-container .confirmations-table-container {
  background-color: white;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
}

.confirmations-container .statistics-container {
  padding: var(--spacing-medium);
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xxl);
  display: flex;
  margin-bottom: 20px;
}

.confirmations-container .statistics-container .statistic-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px dotted;
  max-width: 200px;
  width: 150px;
  padding: var(--padding-large) 0;
  border-radius: var(--border-radius-m);
}

.confirmations-container .statistics-container .statistic-card span {
  font-size: 18px;
  font-weight: 600;
}

.confirmations-container
  .confirmations-table-container
  .confirmations-table-header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: var(--padding-large) var(--padding-xxl);
  z-index: 1;
}

.confirmations-container .confirmations-table-container .collapsible-table {
  overflow-y: auto;
  padding: var(--padding-large);
  height: calc(100% - 100px);
}

.confirmations-container
  .confirmations-table-container
  .collapsible-table
  .ant-collapse-item:hover {
  background: #f2f2f2;
}

@media screen and (max-width: 450px) {
  .confirmations-container .statistics-container {
    gap: var(--spacing-medium);
  }
  .confirmations-container .statistics-container .statistic-card {
    padding: var(--spacing-medium) 2px;
  }
  .confirmations-container .statistics-container .statistic-card span {
    font-size: 14px;
  }

  .confirmations-container {
    padding: var(--padding-medium) 8px;
  }

  .confirmations-container .table-container {
    padding: var(--padding-large) var(--padding-medium);
  }
}
