.concept-section {
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  gap: 80px;
  overflow: hidden;
  margin-top: var(--spacing-xl);
  overflow: visible;
}

.concept-section .description-section {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}

.concept-section .description-section .section-title {
  font-size: 32px;
  color: var(--secondary-color);
  font-weight: 600;
}

.concept-section .description-section .section {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  padding: var(--padding-medium) 0;
  font-size: 18px;
}

.concept-section .description-section .section-description {
  font-size: 16px;
}

.concept-section .description-section .title {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: var(--spacing-medium);
}

.concept-section .description-section .concept-blob {
  position: absolute;
  color: transparent;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 20px;
  transform: scale(1.8);
  z-index: -1;
}

.concept-section .showcase-section {
  width: 100%;
  max-height: 780px;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .concept-section {
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    max-width: 400px;
    gap: 40px;
  }

  .concept-section .description-section .concept-blob {
    position: absolute;
    color: transparent;
    height: 100%;
    width: 100%;
    top: -210px;
    left: 20px;
  }

  .concept-section .description-section .section-title {
    text-align: center;
  }

  .concept-section .description-section .title {
    text-align: center;
  }

  .concept-section .showcase-section {
    max-height: 480px;
  }
  .row__item-inner {
    min-width: 150px;
  }
}

@media screen and (max-width: 400px) {
  .concept-section {
    max-width: 370px;
  }
}
