.preview-confirmation-card {
  display: flex;
  padding: var(--padding-medium);
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  cursor: pointer;
}

.preview-confirmation-card:hover {
  background-color: #f1f1f1;
}

.preview-confirmation-card .confirmation-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-medium);
  flex: 0.2;
  text-align: center;
  &.guests-number-field {
    .field-title {
      text-wrap: nowrap;
    }
  }
}

@media screen and (max-width: 1066px) {
  .field-content {
    max-width: 142px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .field-content {
    max-width: 100px;
    font-size: 12px;
  }
}
