.todos-container {
  width: 100%;
}

.todos-container .add-task-container {
  background-color: #ffffff;
  padding: var(--padding-medium);
  border-radius: 12px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input field */
input[type='text']:not(.ant-input) {
  width: 90%;
  padding: 12px;
  margin-bottom: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type='text']:focus {
  border-color: var(--primary-color);
}

/* List */
ul {
  position: relative;
  list-style: none;
  padding: 0;
}

.todo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 12px;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.todo .checkbox-container {
  flex: 0 0 10%;
}

.todo .text-container {
  flex: 0 0 80%;
  line-height: 20px;
}

.todo .remove-container {
  display: flex;
  align-items: center;
  flex: 0 0 10%;
  justify-content: flex-end;
}

.todo:hover {
  background-color: #fcf0ff !important;
}

/* Remove button styling */
.todo button {
  padding: 6px 12px;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.todo:hover button {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}

.todo button:hover {
  transform: scale(1.1);
}

.todo button:active {
  transform: scale(0.95);
}
