.prices-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(180, 106, 203, 0.05);
  border-radius: 24px;
  padding: var(--padding-xl);
}

.prices-section .cards-container {
  margin-top: var(--spacing-xxl);
  width: 100%;
  display: flex;
  gap: var(--spacing-xl);
}

.prices-section .cards-container .price-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xxl);
  align-items: center;
  background-color: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prices-section .cards-container .price-card .price {
  font-size: 44px;
  color: brown;
  margin-bottom: var(--spacing-xl);
  font-weight: 600;
}

.prices-section .cards-container .features-section {
  margin-top: var(--spacing-xl);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices-section .price-card .primary-title {
  font-size: 24px;
  margin-bottom: var(--spacing-medium);
}

@media screen and (max-width: 450px) {
  .prices-section .price-card .primary-title {
    text-align: center;
  }
  .prices-section .cards-container {
    margin-top: var(--spacing-xxl);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
  .prices-section .cards-container .price-card {
    backdrop-filter: none;
  }
}
