.invitations-modal-content {
  height: 65svh !important;
}

.invitations-container {
  padding: var(--padding-xl);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: minmax(300px, auto);
  overflow-y: auto;
  justify-items: center;
  gap: var(--spacing-lg);
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .invitations-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-template-rows: minmax(300px, auto);
  }
}
