.dashboard-container {
  width: 100%;
  height: 100%;
}

.dashboard-header {
  padding: 24px;
  border-bottom: 1px solid #0000001f;
}

.dashboard-inner-container {
  height: calc(100vh - 67px);
  display: flex;
}

.nav-container {
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
}

.nav-container ul {
  border: none !important;
}

.dashboard-content {
  background: #ffffff73;
  width: calc(100% - 200px);
  padding: 12px 32px 12px 32px;
}

.dashboard-content h1 {
  margin-bottom: 12px;
}

.dashboard-content-container {
  overflow: auto;
  height: calc(100% - 48px);
  padding: 12px;
  display: flex;
  width: 100%;
  gap: 24px;
  background: #ececec73;
}

.dashboard-content-container.shrink {
  flex-direction: column;
}

.content-left {
  flex: 1;
}

.left-card {
  width: 100%;
  background: white;
  border-radius: 8px;
  /* height: 70%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-xxl);
  gap: var(--spacing-xl);
  box-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}

.confirmations-left {
  display: flex;
  gap: var(--padding-xl);
}

.accepted {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  border-color: green;
}

.declined {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  border-color: red;
}

.content-right {
  display: flex;
  flex: 2.5;
  gap: 18px;
  width: auto;
  flex-direction: column;
}

.dashboard-card {
  background: white;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-large);
  box-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}

.dashboard-card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-card.confirmations {
  gap: var(--spacing-medium);
}

.dashboard-card .quick-actions-container {
  margin-top: var(--spacing-medium);
  gap: var(--spacing-xl);
  display: flex;
}

.dashboard-card .quick-actions-container .quick-card {
  border-color: var(--primary-color);
  padding: var(--padding-large);
  gap: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-card .quick-actions-container .quick-card button {
  width: 100%;
}

.events-container .event-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 768px) {
  .dashboard-content-container {
    flex-direction: column;
  }
  .content-right {
    width: auto;
  }
  .dashboard-card.confirmations {
    padding: var(--spacing-medium);
  }
}
