.invitations-modal-content {
  height: 65svh !important;
}

.invitations-container {
  padding: var(--padding-xl);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: minmax(300px, auto);
  overflow-y: auto;
  gap: var(--spacing-xl);
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1406px) {
  .invitations-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: minmax(300px, auto);
  }
}

@media screen and (max-width: 1156px) {
  .invitations-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(300px, auto);
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f0e1f5;
}
