.response-container .summary-container-outer {
  height: 100%;
  overflow: hidden;
}

.response-container .summary-container {
  padding: var(--padding-large);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.summary-container .table-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  grid-auto-rows: min-content;
  column-gap: 32px;
  overflow: auto;
  font-weight: 500;
  border: 1px solid rgba(26, 56, 96, 0.1);
  border-top: unset;
  background-color: white;
  scrollbar-width: thin;
  container-type: inline-size;
  .summary-header {
    border-top: unset;
    background-color: #f6f6f6;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.response-container .summary-container .statistics-container {
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-medium);
  display: flex;
}

.response-container .summary-container .statistics-container .statistic-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px dotted;
  max-width: 200px;
  width: 150px;
  padding: var(--padding-medium) 0;
  border-radius: var(--border-radius-m);
}

.response-container
  .summary-container
  .statistics-container
  .statistic-card
  span {
  font-size: 18px;
  font-weight: 600;
}

.response-container
  .summary-container
  .statistics-container
  .statistic-card:nth-child(1) {
  background-color: rgba(228, 255, 228, 0.842);
  border-color: rgb(131, 255, 131);
}

.response-container
  .summary-container
  .statistics-container
  .statistic-card:nth-child(2) {
  background-color: rgba(255, 232, 232, 0.842);
  border-color: rgb(255, 131, 131);
}

.response-container .table-header {
  display: flex;
  flex-direction: column;
}

.response-container .table-header .info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-medium);
}

.response-container .table-header .info-container .secondary-title {
  line-height: 24px;
  font-size: 22px;
}

@media screen and (max-width: 878px) {
  .response-container .summary-container .statistics-container {
    flex-direction: column;
    gap: var(--spacing-medium);
    margin-bottom: 4px;
  }
  .response-container .summary-container .statistics-container .statistic-card {
    padding: 4px 2px;
  }
}

@media screen and (max-width: 450px) {
  .response-container .summary-container-outer {
    padding: 8px;
  }
  .response-container .summary-container .statistics-container {
    gap: var(--spacing-medium);
  }
  .response-container .summary-container .statistics-container .statistic-card {
    padding: var(--spacing-medium) 2px;
  }
  .response-container
    .summary-container
    .statistics-container
    .statistic-card
    span {
    font-size: 14px;
  }

  .response-container .summary-container {
    padding: 0 8px;
  }

  .response-container
    .summary-container
    .table-container
    .ant-table-wrapper
    .ant-table-pagination.ant-pagination {
    margin: 8px 0;
  }
}

@container (width < 700px) {
  .summary-container .table-container {
    grid-template-columns: 1fr auto auto auto;
    column-gap: 12px;
    .summary-header {
      .guest-action {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
