.response-container .summary-container {
  padding: 0 var(--padding-large);
  overflow: auto;
  height: 98%;
}

.response-container .summary-container .table-container {
  background-color: white;
  padding: var(--padding-xl);
  border-radius: 8px;
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.03);
}

.response-container .summary-container .statistics-container {
  padding: var(--spacing-medium);
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);
  display: flex;
  margin-bottom: 20px;
}

.response-container .summary-container .statistics-container .statistic-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px dotted;
  max-width: 200px;
  width: 150px;
  padding: var(--padding-medium) 0;
  border-radius: var(--border-radius-m);
}

.response-container
  .summary-container
  .statistics-container
  .statistic-card
  span {
  font-size: 18px;
  font-weight: 600;
}

.response-container
  .summary-container
  .statistics-container
  .statistic-card:nth-child(1) {
  background-color: rgba(228, 255, 228, 0.842);
  border-color: rgb(131, 255, 131);
}

.response-container
  .summary-container
  .statistics-container
  .statistic-card:nth-child(2) {
  background-color: rgba(255, 232, 232, 0.842);
  border-color: rgb(255, 131, 131);
}

.response-container .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.response-container .table-header .info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-medium);
}

.response-container .table-header .info-container .secondary-title {
  line-height: 24px;
  font-size: 22px;
}

.summary-container {
  .ant-table-wrapper {
    height: 100%;

    .ant-spin-nested-loading {
      height: 100%;

      .ant-spin-container {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        .ant-table {
          flex: auto;
          overflow: hidden;

          .ant-table-container {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;

            .ant-table-header {
              flex: none;
            }

            .ant-table-body {
              flex: auto;
              overflow: scroll;
              min-height: 80svh !important;
            }
          }
        }

        .ant-table-pagination {
          flex: none;
        }
      }
    }
  }
}

@media screen and (max-width: 878px) {
  .response-container .summary-container .statistics-container {
    flex-direction: column;
    gap: var(--spacing-medium);
    margin-bottom: 4px;
  }
  .response-container .summary-container .statistics-container .statistic-card {
    padding: 4px 2px;
  }
}

@media screen and (max-width: 450px) {
  .response-container .summary-container .statistics-container {
    gap: var(--spacing-medium);
  }
  .response-container .summary-container .statistics-container .statistic-card {
    padding: var(--spacing-medium) 2px;
  }
  .response-container
    .summary-container
    .statistics-container
    .statistic-card
    span {
    font-size: 14px;
  }

  .response-container .summary-container {
    padding: 0 8px;
  }

  .response-container .summary-container .table-container {
    padding: var(--padding-large) var(--padding-medium);
  }

  .response-container
    .summary-container
    .table-container
    .ant-table-wrapper
    .ant-table-pagination.ant-pagination {
    margin: 8px 0;
  }
}
