.landing-section {
  height: 100vh;
}

.landing-section .landing-image-container {
  position: absolute;
  height: 100%;
}

.landing-section .landing-blob {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.landing-section .landing-image {
  position: relative;
  z-index: 2;
  left: -30px;
  top: 45px;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.landing-section .landing-text-container {
  position: absolute;
  top: 300px;
  right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 820px;
  gap: 20px;
  z-index: 1;
}

.landing-section .landing-text-container .header-text {
  margin: 0 10px;
  font-size: 80px;
}

.landing-section .landing-text-container .header-text .text-key-word {
  color: var(--primary-color);
}

.landing-section .landing-text-container .info-text {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.432);
}

.landing-section .landing-text-container .try-button {
  width: 200px;
  height: 60px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 2150px) {
  .landing-section .landing-text-container {
    width: 700px;
  }
  .landing-section .landing-text-container .header-text {
    font-size: 70px;
  }
  .landing-section .landing-text-container .info-text {
    font-size: 33px;
  }
  .landing-section .landing-blob {
    width: 80%;
    height: 80%;
  }

  .landing-section .landing-image {
    width: 80%;
  }
}

@media screen and (max-width: 1781px) {
  .landing-section .landing-text-container {
    right: 100px;
    width: 500px;
  }
  .landing-section .landing-text-container .header-text {
    font-size: 50px;
  }
  .landing-section .landing-text-container .info-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 1590px) {
  .landing-section .landing-blob {
    left: -250px;
    width: 100%;
  }

  .landing-section .landing-image {
    width: 70%;
  }

  .landing-section .landing-text-container {
    right: 100px;
    width: 500px;
  }
}

@media screen and (max-width: 1350px) {
  .landing-section {
    height: 100vh;
    max-width: 1350px;
  }
  .landing-section .landing-image-container {
    margin: 0 auto;
    width: 800px;
    position: relative;
    height: 60%;
  }
  .landing-section .landing-blob {
    width: 100%;
    height: 100%;
    left: unset;
  }

  .landing-section .landing-image {
    width: 100%;
    height: 100%;
    left: 50px;
  }

  .landing-section .landing-text-container {
    margin: 0 auto;
    position: relative;
    right: unset;
    top: 50px;
    left: unset;
    right: unset;
  }

  .landing-section .landing-text-container .header-text,
  .landing-section .landing-text-container .info-text {
    text-align: center;
  }

  .landing-section .landing-text-container .try-button {
    align-self: center;
  }
}

@media screen and (max-width: 450px) {
  .landing-section {
    height: 100vh;
    max-width: 450px;
  }

  .landing-section .landing-image-container {
    width: 100%;
    position: absolute;
  }

  .landing-image-container {
    width: 100vw;
  }
  .landing-section .landing-blob {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
  }

  .landing-section .landing-image {
    position: relative;
    top: 0;
    left: -20px;
    transform: scale(0.5);
  }

  .landing-section .landing-text-container {
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    right: auto;
    padding: var(--padding-xl);
  }

  .landing-section .landing-text-container .try-button {
    align-self: auto;
  }
}
