.masonry {
  position: relative;
  width: 100%;
  height: 100%;
}

.masonry > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.masonry > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.masonry > div > div:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.masonry .custom-masonry {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  font-size: 74px;
  font-weight: 800;
}

@media screen and (max-width: 1170px) {
  .masonry .custom-masonry {
    font-size: 54px;
  }
}

@media screen and (max-width: 870px) {
  .masonry .custom-masonry {
    font-size: 44px;
  }
}
