.models-section {
  max-width: 1200px;
  margin: 150px auto 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.models-section:before {
  background: rgb(255, 255, 255);
  height: 100px;
  display: block;
  content: '';
}

.models-section .models-section-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
