@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));
@import 'tailwindcss';

:root {
  --primary-color: #b46acb;
  --primary-color-hover: #9a45b4;
  --dashboard-foreground-color: #f6f6f6;
  --secondary-color: #1a133b;
  --secondary-text-color-light: rgb(121, 118, 135);

  --premium-color: #1e88e5;

  --padding-small: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;
  --padding-xl: 32px;
  --padding-xxl: 48px;

  --spacing-medium: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  --border-radius-m: 8px;

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f0e1f5;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  user-select: none;
  /* padding: 0;
  margin: 0; */
}

.small-header {
  color: var(--primary-color);
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 13px;
}

.primary-title {
  font-size: 30px;
  color: var(--secondary-color);
  font-weight: 600;
}

.secondary-title {
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: 600;
}

.primary-color-text {
  color: var(--primary-color);
}

.secondary-text-color-light {
  color: rgb(121, 118, 135);
}

.center-text {
  text-align: center;
}

.indicator {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  z-index: 999999;
  color: black;
}

.dotted-card {
  border: 1px dotted rgba(0, 0, 0, 0.329);
  padding: var(--padding-medium);
  border-radius: 4px;
}

.custom-spinner {
  opacity: 0.6;
  top: 40%;
  width: 100%;
  height: 100px;
  position: absolute;
  margin: auto;
}

.ant-form-item-explain-error {
  font-size: 13px;
}

.loader {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid var(--primary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 50%;
  left: 45%;
  transform: translateX(-45%, -45%);
}

/** Ant Global styles */
#section-rsvp input {
  width: 100% !important;
}

.border-editor-input {
  padding: 0 7px !important;
  margin: 0 !important;
}

button.ant-btn span {
  display: inline-flex;
  align-items: center;
}

.ant-form-item .ant-col {
  padding-bottom: 0 !important;
}

.ant-form.rsvp-form label {
  color: inherit !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --sidebar-foxus-ring: transparent;
  --primary-color: var(--primary-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

.dark {
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
