:root {
  --primary-color: #f3e438;

  --padding-small: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;
  --padding-xl: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
