@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary-color: #b46acb;
  --secondary-color: #1a133b;

  --padding-small: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;
  --padding-xl: 32px;

  --spacing-medium: 8px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Comic Neue', serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.small-header {
  color: var(--primary-color);
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 13px;
}

.primary-title {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
}

.primary-color-text {
  color: var(--primary-color);
}

.secondary-text-color-light {
  color: rgb(121, 118, 135);
}

.indicator {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  z-index: 999999;
  color: black;
}
